@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: #fff url('Cube-1s-200px.gif') center;
    background-repeat: no-repeat;
}
html{
    font-family: 'Montserrat';
    font-size:10px;
    scroll-behavior: smooth;
}
.alumnus .welcome{
    text-transform: uppercase;
    margin-left:40px;
    margin-top: 30px;
    font-size: 32px;
}
#hero{
    width:100%;
    height:300px;
    background-color:	#D3D3D3;
}
.abc{
    width:100%;
    height: 300px;
}
.slogan{
    font-size: 20px;
}
.head{
    font-size: 40px;
}
.middle{
    display: flex;
}
.middlesection{
    background-color: rgb(224, 215, 215);
    height: 500px;
}
.gap{
    margin-top: 200px;
    font-size: 20px;
    margin: auto;
    width: 300px;
    margin-top: 100px;
    text-align: center;
}
.stdiv{
    margin: auto;
}
.para{
    width: 250px;
    text-align: center;
    margin-left: 20px;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(161, 142, 146);
    border: 2px solid crimson;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    text-align: center;
    border-radius:4px;
}
.cta:hover{
    background-color: crimson;
    color: white;
}
.ctra{
    margin-left:60px;
}
.ctra2{
    margin-left: 80px;
}
.ctra3{
margin-left: 10%;    
}
.ctra4{
    margin-left: 70px;
}
.yes{
    position: absolute;
    width:100%;
    height:800px;
    background-color: rgb(224, 215, 215);
}
.promo{
    position: relative;
    left:170px;
    float: left;
}
.new{
    position: absolute;
}
.textref{
    position: relative;
    float: right;
    width:600px;
    left:860px;
}
.textref span{
    color:crimson;
}   
.main{
    height:150px;
    background-color: rgb(224, 215, 215);
    width: 100%;
}
.alumnus{
    position: absolute;
    width: 700px;
    top:12px;
    left: 200px;
}
.search{
    position: relative;
    margin-left: 1070px;
    top:40px;
    size: 1rem;
    color:white;
}
.searchbtn{
    position: relative;
    margin-left: 1250px;
    top:10px;
    color:white;
    background-color: grey;
    font-size: 24px;
    text-align: center;
    border: 5px solid grey;
    
}
.navbar{
    position: relative;
    top:40px;
}
.searchbtn:hover{
    background-color:white;
    color: black;
}
input:focus{
    background-color:rgb(154, 145, 170);
}
.no{
    position: absolute;
    top:430px;
    left:120px;
}
.desc{
    background-color: white;
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
}
.desc h2{
    position: relative;
    top:10px;
    text-align: center;
}
.desc h2:hover{
    color:crimson;
}
.desc p{
    position: relative;
    top:10px;
    text-align: center;
    bottom: 20px;
}
.rights{
    position: relative;
    top:830px;
    text-align: center;
    height: 50px;
}
#rights{
    color:crimson;
}
.nav>li.heyy{
    position: relative;
margin-left: 200px;
}
.nav>li.heyy1{
    position: relative;
bottom: 7px;
}